$double-icon-color: #C8C8C8;

$header-font: 'Montserrat', sans-serif;
$italic-font: serif;
$text-font: sans-serif;

$double-orange : #F06040;
$double-grey: #FAFAFA;

body {
  font-size: 18px;
  background: $double-grey;
  padding:0;
  margin: 0;
  * {
    font-size: inherit;
  }
  a {
    color: $double-orange;
    text-decoration: none;
  }
  .logo {
    color: $double-icon-color;
    font-family: $header-font;
    margin: 40px 40px 1em 40px;
    @media (max-width: 640px) {
      margin: 0.8em;
    }
    a {
      color: $double-icon-color;
    }
  }

  p,label {
    font-family: $text-font;
    font-weight: 100;
  }
  h1,h2 {
    font-family: $header-font;
    text-align: center;
    margin: 0 auto;
    @media (max-width:640px) {
      text-align: left;
      margin: 0 0 0 0.8rem;
    }
  }
  h1 {
    font-size: 1.67rem;
    margin-bottom: 2.56rem;
  }
  h2 {
    font-size: 1.33rem;
    margin-bottom: 2rem;
  }

  .loading-message {
    color: $double-orange;
    font-size: 25px;
    font-weight: 300;
    font-family: sans-serif;
  }

  .main-attraction {
    font-size: 1.67rem;
    max-width: 450px;
    min-width: 300px;
    margin: 0 auto 2.56rem auto;
    @media (max-width:640px) {
      margin: 0 0.5em 2.56rem 0.5em;
    }
    display: flex;
    justify-content: space-between;

    > * {
      width: 100px;
      height: 100px;
    }
    .referrer,.double {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 50px;
        width: 100px;
        height: 100px;
      }
    }

    .heart {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $double-orange;
      .fa {
      }
    }
  }

  .testimonial {
    max-width: 610px;
    margin: 0 auto 2.56rem auto;
    padding: 0.3em 1.5em 0.3em 1.5em;
    border-left: 0.5em solid $double-orange;
    border-right: 0.5em solid transparent;
    .passage {
      margin:0 0 1em 0;
      letter-spacing: 0.5px;
      font-family: $italic-font;
      font-style: italic;
      font-size: 1.3em;
      line-height: 1.3;
    }
    @media (max-width: 640px) {
      padding: 0.3em 0.5em 0.3em 0.5em;
      border-left: 0.3em solid $double-orange;
      border-right: 0.3em solid transparent;
    }
    .name {
      font-family: $text-font;
      font-style: italic;
    }
  }

  .form-and-facts {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width : 610px;
    margin: 0 auto;
    padding: 0.3em 1.5em 0.3em 1.5em;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    @media (max-width: 640px) {
      padding: 0.3em 0.5em 0.3em 0.5em;
      border-left: 0.3em solid transparent;
      border-right: 0.3em solid transparent;
    }
    p:first-child {
      margin-top: 0;
    }
    .form-container,.facts{
      width: 290px;
      @media (max-width: 640px) {
        flex: 0 0 100%;
        width: 100%;
      }
      .form-group {
        margin-bottom: 0.885rem;

        .error {
          color: #F06040;
        }

        input {
          width: calc(100% - 0.6rem);
          border: none;
          background: #DCDCDC;
          line-height:1.2;
          font-family: $text-font;
          font-size: inherit;
          height: calc(1em * 1.2);
          padding:0.3rem 0.3rem;

          &[name="company-website"] {
            margin-bottom: 1.78rem;
          }
        }
      }
      label,.terms {
        font-size: 0.885rem;
      }
      .terms {
        color: darken($double-grey, 40%);
      }
      label {
        margin-bottom: 0;
      }
    }
  }

  .promotion-terms {
    max-width: 610px;
    margin: 0 auto 2.56rem auto;
    .li {
      line-height: 2em;
    }
  }

  button,a.button {
    width: 100%;
    border: none;
    border-radius: 10px;
    background: $double-orange;
    padding: 1em 0;
    color: white;
    font-family: $text-font;
    text-decoration: none;
    &:active {
      background: darken($double-orange, 10%);
    }

  }

  .success-message, .send-request-container {
    max-width: 610px;
    margin: 0 auto 2.56rem auto;
    @media (max-width:640px) {
      margin: 0 1rem 2.56rem 1rem;
    }
  }

  .send-request-container {
    a.button.send-request {
      font-size: 0.885rem;
      padding: 0.885rem 2em;
    }
  }
}
